/* General */
body{  /*define margin and padding for body if using FLOAT*/
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*
h1{
	font-size: 2.25em;
	font-weight: 900;
	color: inherit;
	letter-spacing: -2px;
	line-height: 1.25em;
}
*/

/* Header */
.header{
	height: 9%;
   	background-color: rgba(255, 255, 255, 0.95);
  	/*border-bottom: 2px solid #ddd; */
  
  	font-family: 'Oswald', sans-serif;
  	font-weight: 300;
  	font-size: 20px;
}

#unc-logo{
	padding: 5px;
	width: 20%;
	float: left;
}

/* Menu */
.header .menu{
	float: right;
	margin-right: 1%;
	list-style: none;
  	margin-top: 3%;
}

.menu > li{
	display: inline;
	padding-left: 20px;
  	padding-right: 20px;
  	color: #7BAFD4;
}

/* Front Page */
.intro{
	height: 89%;
	text-align: center;
}

#intro{
	background: url('FB.jpg');
	background-size: 100% 100%, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	/*background-repeat: repeat, no-repeat;*/
}
